# Dependências e Módulos
node_modules/
jspm_packages/
web_reach/

# Arquivos de Segredo e Configurações Locais
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Logs de Erros e Banco de Dados
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Compilação e Builds
dist/
build/
.next/
out/
.nuxt/
.vercel/

# Sistema Operacional e IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
